body {
  height: 100vh;
  margin: 0;
  background-color: #242424;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.header {
  width: 100%;
  top: 0px;
  left: auto;
  right: 0px;
  z-index: 1100;
  display: flex;
  position: sticky;
  background-color: rgba(24, 24, 24, 0.8);
  backdrop-filter: blur(8px);
  background-image: none;
  border-style: solid;
  border-color: rgba(42, 42, 42, 0.08);
  border-width: 0px 0px thin;
  box-shadow: none;

  button:hover {
    background-color: #202020;
  }
}

.quizSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;

  .MuiButton-contained {
    width: 20em;
    padding: 1em;
    margin: 1em;
    background-color: #181818;

    &:hover {
      background-color: #202020;
    }
  }
}

.quiz {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #202020;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  overflow: hidden;

  .MuiIconButton-root {
    position: absolute;
    top: 3em;
    right: 1em;
    color: white;
  }
}

.prompt {
  width: 2em;
  text-align: center;
  white-space: nowrap;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 40vmin;
}

.answer {
  width: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
  color: white;
  font-size: 10vmin;
  background-color: transparent;
  border: none;
  outline: none;
}

.kanaTables {
  gap: 1em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  user-select: none;

  h1 {
    height: 0.5em;
    width: 5em;
  }

  h3 {
    height: 0.5em;
    color: #424242;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
  }

  td {
    padding: 0.1em;
  }

  th {
    color: #424242;
    font-weight: 400;
    font-style: italic;
  }

  .diacritics {
    gap: 1em;
    display: flex;
    flex-direction: column;
  }

  .MuiButton-contained {
    background-color: #181818;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;

    &:hover {
      background-color: #424242;
    }
  }
}

.settings {
  gap: 1em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #202020;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;

  .MuiButton-outlined {
    margin: 1em;
  }

  .MuiSelect-standard {
    color: white;
  }

  .MuiSelect-icon {
    color: white;
  }

  .MuiFormHelperText-root {
    color: white;
  }
}

.MuiBackdrop-root {
  backdrop-filter: blur(8px) !important;
}

.MuiBackdrop-invisible {
  backdrop-filter: none !important;
}

.MuiDialog-root {

  .MuiBackdrop-root {
    backdrop-filter: blur(8px);
  }

  .MuiPaper-root {
    color: white !important;
    background-color: #242424 !important;
  }

  .MuiTypography-root {
    color: white;
  }
}

.MuiPaper-root {
  color: white !important;
  background-color: rgba(24, 24, 24, 0.7) !important;
  backdrop-filter: blur(12px);
}

.MuiDrawer-root {
  
  .MuiBox-root {
    width: 12em;
  }

  .MuiDivider-root {
    border-color: #202020 !important;
  }
  
  .MuiListItem-root {
    :hover {
      background-color: #202020;
    }
  }

  .MuiListItemButton-root {
    padding: 1em;
  }

  .MuiListItemIcon-root {
    color: white;
  }
}